.nav{
    padding: 1rem 0;
    width: 100vw;
    background-image: url('../../Assets/images/menu-bg.jpg');
    color: #fff;
}
.nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto;
}
.logo_wrapper{
    display: flex;
    align-items: center;
    align-items: center;
    align-self: center;
}
.logo{
    height: 2.5rem;
    align-self: center;
}
.nav_link_wrapper{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 30vw;
    font-size: 1.1rem;
}
.link{
    color: white;
    text-decoration: none;
}
.mobile_nav_opener{
    display: none;
}


.mobile_nav{
    padding: 1rem 0;
    width: 100vw;
    height: 100vh;
    background: #07061dc0;
    color: #fff;

    position: fixed;
    top: 0;
    z-index: 1000000;
    backdrop-filter: blur(4px);
}
.mobile_nav_content_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    width: 100%;
    height: 100%;

    position: relative;
}
.mobile_nav_closer{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.mobile_nav_link_wrapper{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.mobile_nav_link_wrapper li{
    line-height: 3.5;
    text-align: center;
}

@media (max-width: 880px) {
    .nav_link_wrapper{
        display: none;
    }
    .mobile_nav_opener{
        display: block;
    }
}