.restaurant_list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 70vw;
    margin: 4rem auto;
}



@media (max-width: 1000px) {
    .restaurant_list{
        width: 85vw;
    }
}
@media (max-width: 850px) {
    .restaurant_list{
        width: 95vw;
    }
}