/* HERO */
.hero__section{
    background: url('../../Assets/images/img/pimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    width: 100vw;

    /* font-family: 'Give You Glory', cursive !important; */
    font-family: 'Shantell Sans', cursive !important;
}
.hero_container{
    background: #07061D5E;
    width: 100vw;
    height: 100%;
    padding: 4.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
}
.hero_content_wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    gap: 3rem;
}
.hero_header{
    font-size: 3.6rem;
    word-spacing: 1rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}
.hero_order_process{
    display: flex;
    justify-content: space-around;
    width: 60vw;
}
.order_proces_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.3rem;
    /* font-weight: 600; */
    position: relative;
}
.hero_icon{
    width: 2rem;
    height: 2rem;
}

.step1:after{
    position: absolute;
    content: "";
    right: -50%;
    top: -30%;
    width: 131px;
    height: 32px;
    background: url(../../Assets/images/arrow.png);
    z-index: 100000;
}
.step2:after{
    position: absolute;
    content: "";
    right: -90%;
    top: -25%;
    width: 132px;
    height: 24px;
    background: url(../../Assets/images/arrow-dotted.png);
    z-index: 100000;
}
