/* HERO */
.signup__section{
    background: url('../../../Assets/images/img/pimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 75vh;

    /* font-family: 'Give You Glory', cursive !important; */
    font-family: 'Shantell Sans', cursive !important;
}
.logn_container{
    background: #07061D5E;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
}

.signup_box{
    color: #5c4ac7;
    background: #fff;
    border-top: 0.4rem solid #5c4ac7;
    
    width: 48vw;
    display: flex;
    flex-direction: column;
}
.signup_box_top_area{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2.2rem;
    margin-bottom: 3rem;
}
.signup_input_area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.signup_box_bottom_area{
    background: #d6d5d5ee;
    padding: 0.7rem 2rem;
    text-align: center;
    color: rgb(36, 35, 35);
}
.login_link{
    color: #5c4ac7;
    text-decoration: none;
}
.signup_input{
    padding: 0.6rem 0.5rem;
    /* width: 100%; */
    font-size: 1.05rem;
    outline: none;
    border: 1px solid #cccbcb;
    font-weight: lighter;
    transition: all 1s;
    color: rgb(26, 25, 25);
}
.signup_input:focus{
    border: 1px solid #5c4ac7;
}
.signup_input:focus{
    border: 1px solid #5c4ac7;
}
.signup_btn{
    color: #fff;
    background-color: #5c4ac7;
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 1.05rem;
    cursor: pointer;
    width: min-content;
    border-radius: 0.2rem;
}